.tecnologias {
	background-attachment: fixed;
	background-image: url(tecnologias.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.tecnologias {
	background-attachment: fixed;
	background-image: url(tecnologias.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
